.container {
    max-width: 1920px;
    min-width: 1200px;
    margin: auto;
    border: 1px solid black;
}

header {
    height: 105px;
    color: #FFF;
    background-color: #151b39;
    border: 1px solid black;
}

.container {
    width: 1920px;
    height: 100vh;
    border: 1px solid black;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
}

.logo {
    display: flex;
    height: 105px;
    align-items: center;
    margin-left: 30px;
}

.logo img {
    width: 196px;
    height: 70px;
}

nav {
    display: flex;
    justify-content: flex-end;
    height: 105px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    padding: 10px;
}